body{
    max-width: 800px;
    margin: auto;
}

/* Заголовок первого уровня */
h1{
    text-align: center;
    margin: 50px 0;
}

/* Заголовок второго уровня */
h2{
    text-align: center;
    margin: 50px 0;
    border-bottom: 1px solid rgb(163, 163, 209)
}

/* labels */
label{
    font-size: 16pt;
}

/* buttons */
button{
    margin: 20px 0;
}

/* Кнопка авторизации */
.btn-avtorization{
    margin: 20px 0;
    min-width: 200px;
    background-color: rgb(19, 120, 101);
}

/* ШАпка списка */
.list-head{
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
}

/* Элемент списка */
.list-group-item{
    display: grid;
    grid-template-columns: 4fr 2fr 5fr;
    padding: 0;
}

/* div элемента списка */
.list-group-item div{
    border: 1px solid rgb(246, 246, 246);
    padding: 6px 0;
    padding-left: 5px;
    overflow-x: auto;
}